{% extends "layout.html" %}
{% block content %}
    <h1>Bandersnatch Model</h1>
    <p>{{ info | safe }}</p>

    <h2>Prediction Basis</h2>
    <form id="form" method="post" action="{{ url_for('model') }}">
        <p><label>
            Level: <input name="level" value="{{ level }}"/>
        </label></p>
        <br class="clear">
        <p><label>
            Health: <input name="health" value="{{ health }}"/>
        </label></p>
        <br class="clear">
        <p><label>
            Energy: <input name="energy" value="{{ energy }}"/>
        </label></p>
        <br class="clear">
        <p><label>
            Sanity: <input name="sanity" value="{{ sanity }}"/>
        </label></p>
        <br class="clear">
        <button type="submit">Predict Rarity</button>
        <br class="clear">
    </form>

    <h3>
        Prediction: {{ prediction }}
        <br>
        Confidence: {{ confidence }}
    </h3>

    <h2>Actions</h2>

    <form action="{{ url_for('reset_db') }}" method="post" style="margin-bottom: 10px;">
        <button type="submit">Reset & Reseed Database</button>
    </form>

    <form id="retrain-form" method="post" action="{{ url_for('retrain_model') }}">
        <button type="submit">Retrain Model</button>
    </form>

    <p>
        <a href="{{ url_for('download_model_v1') }}">Download Model</a>
        <br>
        <a href="{{ url_for('download_dataset') }}">Download Dataset</a>
    </p>

{% endblock %}
